Repository Dima-Bulavenko/application_tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: frontend/node_modules/.bin/eslint
  language: system
  args:
  - --config
  - ./frontend/eslint.config.js

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier
  args:
  - --write
  - --ignore-unknown
  - --config
  - ./frontend/prettier.config.js
  - --ignore-path
  - ./frontend/.prettierignore
  language: system

feat(ProfilePage): add SetPasswordSection and integrate SetPasswordDrawer feat(SetPasswordForm): implement form for setting a new password
  frontend/src/pages/profile/ui/ProfilePage.tsx
  frontend/src/pages/profile/ui/SetPasswordDrawer.tsx
  frontend/src/pages/profile/ui/SetPasswordForm.tsx
  frontend/src/pages/profile/ui/SetPasswordSection.tsx
Due: eslint, prettier

feat(Link): create router-compatible MUI Link with type safety
  frontend/src/shared/ui/Link.tsx
Due: eslint, prettier

feat(AccountMenu, Header, AuthPage): replace MUI Link with LinkButton for consistency
  frontend/src/features/user/ui/AccountMenu.tsx
  frontend/src/pages/auth/ui/AuthPage.tsx
  frontend/src/widgets/header/ui/Header.tsx
Due: eslint, prettier

feat(ci): enhance frontend deployment workflow with OpenAPI checksum validation
  .github/workflows/cd-frontend.yml
Due: none

Revert "feat(ci): enhance frontend deployment workflow with OpenAPI checksum validation"
  .github/workflows/cd-frontend.yml
Due: none

refactor(forms): replace customZodResolver with zodResolver for consistency
  frontend/src/features/application/ui/CreateApplicationForm.tsx
  frontend/src/features/application/ui/UpdateApplicationForm.tsx
  frontend/src/features/user/ui/UpdateForm.tsx
  frontend/src/pages/auth/ui/RegisterForm.tsx
  frontend/src/pages/auth/ui/SignInForm.tsx
  frontend/src/shared/lib/customZodResolver.ts
Due: eslint, prettier

fix(ci): ensure OpenAPI schema download fails on error
  .github/workflows/cd-frontend.yml
Due: none

feat: Create more accurate exception for handling case when user have authentication provider try to login with another one.
  backend/app/core/exceptions/oauth.py
  backend/app/core/services/oauth_service.py
  backend/app/routers/oauth.py
  backend/app/tests/test_oauth_endpoints.py
Due: none

feat: Add PKCE protection for google provider
  backend/app/infrastructure/oauth/google_provider.py
Due: none

feat: Impelment PKCE protection for google provider
  backend/app/core/repositories/oauth_provider.py
  backend/app/core/repositories/user_repository.py
  backend/app/core/services/oauth_service.py
  backend/app/infrastructure/oauth/google_provider.py
  backend/app/infrastructure/oauth/linkedin_provider.py
  backend/app/routers/oauth.py
  backend/app/tests/test_oauth_endpoints.py
Due: none

feat: Create methods for generating code verifier and code challenge to implement PKCE protection for social authentication
  backend/app/core/repositories/oauth_provider.py
  backend/app/core/services/oauth_service.py
Due: none

fix: Explicitly assign architecture for docker build to workaround ECR error.
  .github/workflows/cd-backend.yml
Due: none

fix: add DOCKER_BUILDKIT: 0 to CD backend to fix ECR error
  .github/workflows/cd-backend.yml
Due: none

feat(tests): add factories for user, company, application, and tokens
  backend/app/tests/conftest.py
  backend/app/tests/factories/__init__.py
  backend/app/tests/factories/application_factory.py
  backend/app/tests/factories/company_factory.py
  backend/app/tests/factories/token_factory.py
  backend/app/tests/factories/user_factory.py
Due: none

refactor(dto): replace primitive types with type aliases in Application DTOs
  backend/app/core/dto/application.py
Due: none

feat(tests): add application creation tests with various scenarios
  backend/app/tests/test_application_endpoints.py
Due: none

feat(tests): enhance test fixtures with repository integration
  backend/app/tests/conftest.py
Due: none

refactor(tests): enhance client fixture with configurable options
  backend/app/tests/conftest.py
Due: none

refactor(tests): streamline application endpoint tests with fixtures
  backend/app/tests/test_application_endpoints.py
Due: none

refactor(tests): update user test fixtures and improve user creation tests
  backend/app/tests/base.py
  backend/app/tests/conftest.py
  backend/app/tests/test_user_endpoints.py
Due: none

refactor(tests): improve user activation tests with verification token service
  backend/app/tests/conftest.py
  backend/app/tests/test_user_endpoints.py
Due: none

refactor(tests): enhance user creation tests with password validation
  backend/app/tests/test_user_endpoints.py
Due: none

refactor(tests): enhance user change password tests with fixtures and improvements
  backend/app/tests/test_user_endpoints.py
Due: none

refactor(tests): improve user password handling in test fixtures
  backend/app/tests/factories/user_factory.py
  backend/app/tests/test_user_endpoints.py
Due: none

test: refactor tests to remove BaseTest dependency and improve structure
  backend/app/tests/base.py
  backend/app/tests/test_auth_endpoints.py
  backend/app/tests/test_company_endpoints.py
  backend/app/tests/test_oauth_endpoints.py
  backend/app/tests/test_refresh_token_service.py
  backend/app/tests/test_user_endpoints.py
Due: none

feat: Moved project from poetry to uv, reduce production container size
  .devcontainer/devcontainer.json
  .env.example
  .github/workflows/ci.yml
  Dockerfile_devcontainer
  README.md
  backend/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  backend/uv.lock
  docker-compose-devcontainer.yaml
  scripts/generate-client.sh
Due: none

feat(scripts): add create_db_tables script for database initialization
  backend/scripts/create_db_tables.py
Due: none

build(Dockerfile): update uv installation method for clarity
  Dockerfile_devcontainer
Due: none

feat(docker-compose): restructure services and add pgAdmin configuration
  docker-compose.yml
Due: none

fix(devcontainer): update postCreateCommand to use --dev flag for uv sync
  .devcontainer/devcontainer.json
Due: none

chore(deps): update @hey-api/openapi-ts to version 0.93.1
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(openapi-ts): correct output format and update runtime config path
  frontend/openapi-ts.config.ts
Due: eslint, prettier

fix(filterStorage): update ApplicationFilterSchema to use optional fields, and strict typescript check
  .pre-commit-config.yaml
  frontend/package.json
  frontend/src/features/application/lib/filterStorage.ts
Due: eslint, prettier

fix(pre-commit): update TypeScript build command to include --noEmit
  .pre-commit-config.yaml
  frontend/package.json
Due: prettier

chore(dependencies): update axios and @hey-api/openapi-ts versions
  frontend/package-lock.json
  frontend/package.json
Due: prettier

build(vite): add build configuration for manual chunking
  frontend/vite.config.ts
Due: eslint, prettier

feat(ui): Add shadcn/ui to my project
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/ui/button.tsx
  frontend/src/app/lib/utils.ts
  frontend/src/shared/theme/index.css
  frontend/vite.config.ts
Due: eslint, prettier

chore(dependencies): update React and shadcn versions in package files
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/types/form.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.jsx$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.jsx$, \.json$, \.(yaml|yml)$, \.(html|htm|xhtml)$, \.css$
