Repository Dima-Bulavenko/application_tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
      - id: end-of-file-fixer
        exclude: frontend/src/client/.*
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      # ruff linter
      - id: ruff-check
        name: ruff check
        entry: backend/.venv/bin/ruff check
        args: ['--fix']
        language: system
        types_or: [python, pyi]
      # ruff formatter
      - id: ruff-format
        name: ruff format
        entry: backend/.venv/bin/ruff format
        language: system
        types_or: [python, pyi]
      # mypy
      - id: mypy
        name: mypy
        entry: backend/.venv/bin/mypy
        args: ['--ignore-missing-imports', '--scripts-are-modules']
        require_serial: true
        language: system
        exclude: ^backend/app/tests/
        types_or: [python, pyi]
      # eslint
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint
        language: system
        args: ['--config', './frontend/eslint.config.js']
        types_or: [javascript, ts, tsx, jsx]
      # prettier
      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier
        args:
          [
            '--write',
            '--ignore-unknown',
            '--config',
            './frontend/prettier.config.js',
            '--ignore-path',
            './frontend/.prettierignore',
          ]
        files: ^frontend/
        language: system
        types_or: [javascript, ts, tsx, jsx, json, yaml, html, css]

      # TypeScript typecheck
      - id: ts-typecheck
        name: typescript typecheck
        language: system
        # ensure deps exist, then run typecheck without emitting files
        entry: bash -lc 'cd frontend && { [ -d node_modules ] || npm ci --no-audit --no-fund; } && ./node_modules/.bin/tsc -p tsconfig.json --noEmit'
        pass_filenames: false
        always_run: true
        require_serial: true
        types_or: [javascript, ts, tsx, jsx]

feat(ui): implement form field components for better structure
  frontend/biome.json
  frontend/package.json
  frontend/src/app/components/ui/field.tsx
  frontend/src/entities/application/ui/ApplicationStatusField.tsx
  frontend/src/entities/application/ui/WorkLocationField.tsx
  frontend/src/entities/application/ui/WorkTypeField.tsx
  frontend/src/shared/types/form.ts
  frontend/src/shared/ui/FormField.tsx
  frontend/src/shared/ui/SelectField.tsx
Due: eslint, prettier

feat(ui): integrate Combobox and InputGroup components for enhanced form handling
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/ui/combobox.tsx
  frontend/src/app/components/ui/input-group.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/shared/types/form.ts
  frontend/src/shared/ui/SelectField.tsx
Due: eslint, prettier

feat(ui): replace RadioGroup with SelectInput for OrderBy and OrderDirection filters
  frontend/src/features/application/ui/FilterApplicationForm.tsx
Due: eslint, prettier

feat: Add field required to FormField component
  frontend/src/shared/ui/FormField.tsx
Due: eslint, prettier

fix: Fixed the CompanyField component
  frontend/src/app/components/ui/spinner.tsx
  frontend/src/entities/application/ui/CompanyField.tsx
Due: eslint, prettier

feat(ui): enhance FilterApplicationForm with user companies selection
  frontend/src/entities/application/api/queryOptions.ts
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/shared/ui/SelectField.tsx
Due: eslint, prettier

refactor: rename SelectField.tsx to SelectInput.tsx
  frontend/src/entities/application/ui/ApplicationStatusField.tsx
  frontend/src/entities/application/ui/WorkLocationField.tsx
  frontend/src/entities/application/ui/WorkTypeField.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/features/user/ui/UpdateForm.tsx
  frontend/src/shared/ui/SelectInput.tsx
Due: eslint, prettier

refactor(ui): update form field components to use FormField wrapper
  frontend/src/app/components/ui/spinner.tsx
  frontend/src/entities/application/ui/ApplicationURLField.tsx
  frontend/src/entities/application/ui/CompanyField.tsx
  frontend/src/entities/application/ui/InterviewDateField.tsx
  frontend/src/entities/application/ui/NoteField.tsx
  frontend/src/entities/application/ui/RoleField.tsx
  frontend/src/entities/user/ui/EmailField.tsx
  frontend/src/entities/user/ui/PasswordField.tsx
  frontend/src/features/user/ui/UpdateForm.tsx
  frontend/src/shared/ui/FormField.tsx
  frontend/src/shared/ui/TextInput.tsx
Due: eslint, prettier

style(Form): update form class for improved layout
  frontend/src/shared/ui/Form.tsx
Due: eslint, prettier

fix(ui): add disabled state handling to FormField component
  frontend/src/shared/ui/FormField.tsx
Due: eslint, prettier

feat(ui): implement DateInput component for date selection
  frontend/src/entities/application/ui/InterviewDateField.tsx
  frontend/src/shared/ui/DateInput.tsx
Due: eslint, prettier

feat(calendar): add calendar component with date selection functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/ui/button.tsx
  frontend/src/app/components/ui/calendar.tsx
  frontend/src/app/components/ui/popover.tsx
  frontend/src/entities/application/ui/ApplicationStatusField.tsx
  frontend/src/entities/application/ui/ApplicationURLField.tsx
  frontend/src/entities/application/ui/CompanyField.tsx
  frontend/src/entities/application/ui/InterviewDateField.tsx
  frontend/src/entities/application/ui/NoteField.tsx
  frontend/src/entities/application/ui/RoleField.tsx
  frontend/src/entities/application/ui/WorkLocationField.tsx
  frontend/src/entities/application/ui/WorkTypeField.tsx
  frontend/src/entities/user/ui/PasswordField.tsx
  frontend/src/features/application/ui/CreateApplicationForm.tsx
  frontend/src/features/application/ui/UpdateApplication.tsx
  frontend/src/features/application/ui/UpdateApplicationForm.tsx
  frontend/src/features/user/ui/UpdateForm.tsx
  frontend/src/pages/auth/ui/RegisterForm.tsx
  frontend/src/pages/auth/ui/SignInForm.tsx
  frontend/src/shared/types/form.ts
  frontend/src/shared/ui/SelectInput.tsx
  frontend/src/shared/ui/TextInput.tsx
  frontend/src/shared/ui/TextareaInput.tsx
Due: eslint, prettier

feat(application): add pagination metadata to applications list endpoint
  backend/app/core/dto/__init__.py
  backend/app/core/dto/config.py
  backend/app/core/repositories/application_repository.py
  backend/app/core/services/application_service.py
  backend/app/infrastructure/repositories/slq_alchemy/application.py
  backend/app/routers/application.py
  backend/app/tests/test_application_endpoints.py
Due: none

fix(tests): update postgres_url fixture to include port configuration
  backend/app/tests/conftest.py
Due: none

feat(pagination): implement pagination components and logic
  frontend/src/app/components/ui/pagination.tsx
  frontend/src/app/routes/_authenticated/dashboard.tsx
  frontend/src/entities/application/ui/ApplicationList.tsx
  frontend/src/features/application/lib/filterStorage.ts
  frontend/src/features/application/ui/FilterApplication.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/shared/lib/getPaginationPrams.ts
Due: eslint, prettier

feat(dashboard): enhance filter functionality with default values and clear option
  frontend/src/app/routes/_authenticated/dashboard.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
Due: eslint, prettier

feat(application): implement loading skeleton for applications list
  frontend/src/app/router.tsx
  frontend/src/entities/application/ui/ApplicationList.tsx
  frontend/src/entities/application/ui/ApplicationListSkeleton.tsx
  frontend/src/features/application/ui/ApplicationListWidget.tsx
Due: eslint, prettier

feat(application): add pagination controls to application list
  frontend/src/entities/application/ui/ApplicationList.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/shared/ui/PaginationControls.tsx
Due: eslint, prettier

feat(application): add descriptions to Create and Filter application sheets
  frontend/src/app/components/ui/sheet.tsx
  frontend/src/features/application/ui/CreateApplication.tsx
  frontend/src/features/application/ui/FilterApplication.tsx
  frontend/src/features/application/ui/UpdateApplication.tsx
Due: eslint, prettier

feat(application): implement responsive filter application component
  frontend/src/features/application/ui/FilterApplication.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/shared/hooks/useMediaQuery.ts
Due: eslint, prettier

ci: add POSTGRES_PORT_TEST environment variable for testing
  .github/workflows/ci.yml
Due: none

ci: enable Docker BuildKit for improved build performance
  .github/workflows/cd-backend.yml
Due: none

feat(dependencies): add python-multipart to lambda and dev groups
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(ci): Fix ci deployment
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(cd)
  backend/pyproject.toml
Due: none

fix(cd)
  .github/workflows/cd-backend.yml
Due: none

fix: Unable to choose combobox option when it place in Sheet component
  frontend/src/app/components/ui/combobox.tsx
Due: eslint, prettier

feat(FilterApplication): add onApplySuccess callback to FilterApplicationForm
  frontend/src/features/application/ui/FilterApplication.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
Due: eslint, prettier

fix(dependencies): add httpx and python-multipart to requirements
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(scripts): add OpenAPI schema validation script and update client generation
  .github/workflows/cd-backend.yml
  .github/workflows/cd-frontend.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
  frontend/biome.json
  frontend/openapi.json
  scripts/check-openapi-schema.sh
  scripts/generate-client.sh
Due: prettier

ci: update CodeQL SARIF upload action to version 4
  .github/workflows/ci.yml
Due: none

feat(vite): Set up react compiler
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: eslint, prettier

feat(CreateApplicationForm): add onSuccess callback to handle form submission
  frontend/src/features/application/ui/CreateApplication.tsx
  frontend/src/features/application/ui/CreateApplicationForm.tsx
Due: eslint, prettier

refactor(oauth): improve state management and CSRF protection
  backend/app/core/repositories/oauth_provider.py
  backend/app/infrastructure/oauth/google_provider.py
  backend/app/infrastructure/oauth/linkedin_provider.py
  backend/app/routers/oauth.py
  backend/app/tests/test_oauth_endpoints.py
  frontend/src/features/application/ui/CreateApplicationForm.tsx
  frontend/src/features/application/ui/FilterApplicationForm.tsx
  frontend/src/features/user/hooks/useUser.ts
  frontend/src/shared/api/set_interceptors.ts
Due: eslint, prettier

feat(oauth): enhance error handling for auth authentication
  backend/app/base_schemas.py
  backend/app/core/exceptions/oauth.py
  backend/app/core/services/oauth_service.py
  backend/app/routers/oauth.py
  backend/app/tests/test_oauth_endpoints.py
  frontend/src/app/routes/oauth/google.tsx
  frontend/src/app/routes/oauth/linkedin.tsx
  frontend/src/shared/ui/OAuthError.tsx
Due: eslint, prettier

refactor(application): reorganize application filter schema and imports
  frontend/src/app/routes/_authenticated/dashboard.tsx
  frontend/src/features/application/model/filterSchema.ts
  frontend/src/features/application/ui/FilterApplicationForm.tsx
Due: eslint, prettier

build(vite): add zod to manualChunks for optimized bundling
  frontend/vite.config.ts
Due: eslint, prettier

feat(index.html): add theme management script for dark mode support
  frontend/index.html
Due: prettier

refactor(index.html): remove title tag for cleaner HTML structure
  frontend/index.html
  frontend/src/app/routes/__root.tsx
Due: eslint, prettier

feat(theme): add custom font faces for Geist variable fonts
  frontend/index.html
  frontend/public/fonts/geist-cyrillic-wght-normal.woff2
  frontend/public/fonts/geist-latin-ext-wght-normal.woff2
  frontend/public/fonts/geist-latin-wght-normal.woff2
  frontend/src/shared/theme/index.css
Due: prettier
