Repository Dima-Bulavenko/application_tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
      - id: end-of-file-fixer
        exclude: frontend/src/client/.*
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      # ruff linter
      - id: ruff-check
        name: ruff check
        entry: backend/.venv/bin/ruff check
        args: ['--select', 'I', '--fix']
        language: system
        types_or: [python, pyi]
      # ruff formatter
      - id: ruff-format
        name: ruff format
        entry: backend/.venv/bin/ruff format
        language: system
        types_or: [python, pyi]
      # mypy
      - id: mypy
        name: mypy
        entry: backend/.venv/bin/mypy
        args: ['--ignore-missing-imports', '--scripts-are-modules']
        require_serial: true
        language: system
        exclude: ^backend/app/tests/
        types_or: [python, pyi]
      # eslint
      - id: eslint
        name: eslint
        entry: frontend/node_modules/.bin/eslint
        language: system
        args: ['--config', './frontend/eslint.config.js']
        types_or: [javascript, ts, tsx, jsx]
      # prettier
      - id: prettier
        name: prettier
        entry: frontend/node_modules/.bin/prettier
        args:
          [
            '--write',
            '--ignore-unknown',
            '--config',
            './frontend/prettier.config.js',
          ]
        files: ^frontend/
        language: system
        types_or: [javascript, ts, tsx, jsx, json, yaml, html, css]

      # Generate OpenAPI schema and Hey API client (pre-push)
      - id: generate-openapi-and-client
        name: generate openapi and heyapi client
        language: system
        entry: bash -lc './scripts/generate-client.sh'
        pass_filenames: false
        always_run: true
        stages: [pre-push]
        require_serial: true

      # TypeScript typecheck (pre-push)
      - id: ts-typecheck
        name: typescript typecheck
        language: system
        # ensure deps exist, then run typecheck without emitting files
        entry: bash -lc 'cd frontend && { [ -d node_modules ] || npm ci --no-audit --no-fund; } && ./node_modules/.bin/tsc -p tsconfig.json --noEmit'
        pass_filenames: false
        always_run: true
        stages: [pre-push]
        require_serial: true

feat: Implement refresh token management with rotation and revocation
  backend/app/core/domain/__init__.py
  backend/app/core/domain/refresh_token.py
  backend/app/core/exceptions/__init__.py
  backend/app/core/exceptions/auth.py
  backend/app/core/repositories/__init__.py
  backend/app/core/repositories/refresh_token_repository.py
  backend/app/core/services/__init__.py
  backend/app/core/services/auth_service.py
  backend/app/core/services/refresh_token_service.py
  backend/app/core/services/user_service.py
  backend/app/db/models/__init__.py
  backend/app/db/models/refresh_token.py
  backend/app/dependencies.py
  backend/app/infrastructure/repositories/__init__.py
  backend/app/infrastructure/repositories/slq_alchemy/refresh_token.py
  backend/app/routers/auth.py
  backend/app/tests/base.py
  backend/app/tests/conftest.py
  backend/app/tests/test_auth_endpoints.py
  backend/app/tests/test_refresh_token_service.py
Due: none

feat(user): implement resend activation email functionality with rate limiting
  backend/app/__init__.py
  backend/app/core/dto/__init__.py
  backend/app/core/dto/user.py
  backend/app/core/exceptions/__init__.py
  backend/app/core/exceptions/user.py
  backend/app/core/repositories/verification_token_repository.py
  backend/app/core/services/user_service.py
  backend/app/infrastructure/repositories/slq_alchemy/verification_token.py
  backend/app/routers/user.py
  backend/app/tests/test_user_endpoints.py
Due: none

feat: Update generated file to match backend new features
  frontend/src/shared/api/gen/sdk.gen.ts
  frontend/src/shared/api/gen/types.gen.ts
  frontend/src/shared/api/gen/zod.gen.ts
  frontend/src/shared/config/constants.ts
  frontend/src/shared/config/index.ts
Due: eslint, prettier

feat(routes): add registration success route and page
  frontend/src/app/routeTree.gen.ts
  frontend/src/app/routes/registration-success.tsx
  frontend/src/pages/auth/ui/RegisterForm.tsx
  frontend/src/pages/auth/ui/RegistrationSuccessPage.tsx
Due: eslint, prettier

fix(RegisterForm): remove unnecessary mask property from navigation
  frontend/src/pages/auth/ui/RegisterForm.tsx
Due: eslint, prettier

feat(user): exclude resend_activation endpoint from from API schema. Generate new frontend api to correspond the changes.
  backend/app/routers/user.py
  frontend/src/shared/api/gen/sdk.gen.ts
  frontend/src/shared/api/gen/types.gen.ts
  frontend/src/shared/api/gen/zod.gen.ts
Due: eslint, prettier

feat(user): add inactive user handling and resend activation email functionality
  backend/app/core/exceptions/__init__.py
  backend/app/core/exceptions/user.py
  backend/app/core/services/user_email_service.py
  backend/app/core/services/user_service.py
  backend/app/routers/user.py
  backend/app/tests/test_user_endpoints.py
  backend/templates/emails/resend_activation.html
  backend/templates/emails/resend_activation.txt
Due: none

feat(user): add OAuthProvider and update User model with oauth fields
  backend/app/core/domain/__init__.py
  backend/app/core/domain/user.py
  backend/app/db/models/user.py
Due: none

feat(user): add UserSetPassword DTO for OAuth user password setup
  backend/app/core/dto/__init__.py
  backend/app/core/dto/user.py
Due: none

feat(user): add methods to retrieve user by OAuth ID and email with provider
  backend/app/core/repositories/user_repository.py
  backend/app/infrastructure/repositories/slq_alchemy/user.py
Due: none

feat(user): add password handling for OAuth users and set password endpoint
  backend/app/core/services/auth_service.py
  backend/app/core/services/user_service.py
  backend/app/routers/user.py
Due: none

feat(tests): add tests for setting password for OAuth users
  backend/app/tests/test_user_endpoints.py
Due: none

feat(oauth): implement OAuth authentication flow and configuration
  .env.example
  backend/app/__init__.py
  backend/app/core/dto/oauth.py
  backend/app/core/exceptions/oauth.py
  backend/app/core/repositories/__init__.py
  backend/app/core/repositories/oauth_provider.py
  backend/app/core/services/__init__.py
  backend/app/core/services/oauth_service.py
Due: none

feat(oauth): implement Google OAuth provider and authorization flow
  backend/app/core/dto/__init__.py
  backend/app/infrastructure/oauth/__init__.py
  backend/app/infrastructure/oauth/google_provider.py
  backend/app/main.py
  backend/app/routers/oauth.py
  backend/app/tests/test_oauth_endpoints.py
Due: none

refactor(oauth): remove user_id and email from OAuthLoginResponse
  backend/app/core/dto/oauth.py
  backend/app/routers/oauth.py
Due: none

feat(auth): add Google authorization button to registration and sign-in forms
  frontend/src/pages/auth/ui/RegisterForm.tsx
  frontend/src/pages/auth/ui/SignInForm.tsx
  frontend/src/shared/api/gen/sdk.gen.ts
  frontend/src/shared/api/gen/types.gen.ts
  frontend/src/shared/api/gen/zod.gen.ts
  frontend/src/shared/ui/GoogleAuthorizationButton.tsx
  frontend/src/shared/ui/SocialAuthorizationButton.tsx
Due: eslint, prettier

feat(oauth): update OAuth redirect URI for Google authentication
  backend/app/__init__.py
  backend/app/infrastructure/oauth/google_provider.py
Due: none

feat(auth): add Google OAuth login functionality and error handling
  frontend/src/app/App.tsx
  frontend/src/app/routeTree.gen.ts
  frontend/src/app/routes/__root.tsx
  frontend/src/app/routes/oauth/google.tsx
  frontend/src/features/user/hooks/useUser.ts
  frontend/src/shared/ui/OAuthError.tsx
Due: eslint, prettier

feat(oauth): remove GitHub OAuth configuration and update tests
  backend/app/__init__.py
  backend/app/core/domain/user.py
  backend/app/infrastructure/oauth/__init__.py
  backend/app/tests/test_oauth_endpoints.py
  backend/poetry.lock
  backend/pyproject.toml
Due: none

test(oauth): update SameSite attribute for oauth_state cookie
  backend/app/tests/test_oauth_endpoints.py
Due: none

fix(cd): correct variable reference for API_URL in workflow
  .github/workflows/cd.yml
Due: none

feat(cd): generate OpenAPI schema from backend code instead of downloading
  .github/workflows/cd.yml
Due: none

Revert "feat(cd): generate OpenAPI schema from backend code instead of downloading"
  .github/workflows/cd.yml
Due: none

feat(oauth): add LinkedIn OAuth provider integration
  backend/app/__init__.py
  backend/app/core/domain/user.py
  backend/app/infrastructure/oauth/__init__.py
  backend/app/infrastructure/oauth/linkedin_provider.py
  backend/app/routers/oauth.py
Due: none

test(oauth): add tests for LinkedIn OAuth endpoints
  backend/app/tests/test_oauth_endpoints.py
Due: none

feat(auth): add LinkedIn OAuth integration and routes
  frontend/src/app/App.tsx
  frontend/src/app/routeTree.gen.ts
  frontend/src/app/routes/__root.tsx
  frontend/src/app/routes/oauth/linkedin.tsx
  frontend/src/features/user/hooks/useUser.ts
  frontend/src/pages/auth/ui/RegisterForm.tsx
  frontend/src/pages/auth/ui/SignInForm.tsx
  frontend/src/shared/api/gen/sdk.gen.ts
  frontend/src/shared/api/gen/types.gen.ts
  frontend/src/shared/api/gen/zod.gen.ts
  frontend/src/shared/ui/LinkedInAuthorizationButton.tsx
  frontend/vite.config.ts
Due: eslint, prettier

chore(prettier): add .prettierignore to exclude generated TypeScript files
  .pre-commit-config.yaml
  frontend/.prettierignore
  frontend/src/app/routeTree.gen.ts
Due: eslint, prettier

feat(migrations): add Alembic configuration and initial migration scripts
  backend/alembic.ini
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/be1c4ed95eaf_create_tables.py
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix: Change parameters of refresh token cookies, add samesite='strict' and change path
  backend/app/routers/auth.py
Due: none

ci: remove push trigger from CI workflow
  .github/workflows/ci.yml
Due: none

chore: remove generated API client from tracking
  frontend/src/shared/api/gen/client.gen.ts
  frontend/src/shared/api/gen/client/client.gen.ts
  frontend/src/shared/api/gen/client/index.ts
  frontend/src/shared/api/gen/client/types.gen.ts
  frontend/src/shared/api/gen/client/utils.gen.ts
  frontend/src/shared/api/gen/core/auth.gen.ts
  frontend/src/shared/api/gen/core/bodySerializer.gen.ts
  frontend/src/shared/api/gen/core/params.gen.ts
  frontend/src/shared/api/gen/core/pathSerializer.gen.ts
  frontend/src/shared/api/gen/core/types.gen.ts
  frontend/src/shared/api/gen/index.ts
  frontend/src/shared/api/gen/sdk.gen.ts
  frontend/src/shared/api/gen/types.gen.ts
  frontend/src/shared/api/gen/zod.gen.ts
Due: eslint, prettier

chore(.gitignore): add generated API client directory to ignore list
  .gitignore
Due: none

feat(workflows): add CI workflows for backend and frontend deployment
  .github/workflows/cd-backend.yml
  .github/workflows/cd-frontend.yml
Due: none

chore(pre-commit): remove pre-push hooks and adjust typecheck stage
  .pre-commit-config.yaml
Due: none

fix: Update RHF resolver to eliminate throwing error during zod fiedl validation.
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat(PasswordField): allow custom helper text in password input
  frontend/src/entities/user/ui/PasswordField.tsx
  frontend/src/shared/types/form.ts
Due: eslint, prettier

feat(ChangePasswordForm): implement password change form with validation
  frontend/src/features/user/ui/ChangePasswordForm.tsx
  frontend/src/shared/ui/TextInput.tsx
Due: eslint, prettier

fix: Install latest version of RHF devtools to make it work properly
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat: Add is_password_set field to UserRead and User pydantic models.
  backend/app/core/domain/user.py
  backend/app/core/dto/user.py
  backend/app/infrastructure/repositories/slq_alchemy/user.py
Due: none

feat(ChangePassword): implement ChangePasswordDrawer and ChangePasswordSection components
  frontend/src/features/user/ui/ChangePasswordForm.tsx
  frontend/src/pages/profile/ui/ChangePasswordDrawer.tsx
  frontend/src/pages/profile/ui/ChangePasswordSection.tsx
  frontend/src/pages/profile/ui/ProfilePage.tsx
Due: eslint, prettier
